.col {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: lime;
    width: 400px;
    height: 100px;
    margin: 20px;
    float: left;
    border: 3px solid black;
}

.col:hover {
    animation: hehe 0.6s ease-in-out;
    animation-iteration-count: infinite;
}

.lime {
    background-color:lime;
}

.cyan {
    background-color:cyan;
}

.yellow {
    background-color:yellow;
}

.red {
    background-color:red;
}

@keyframes hehe {
    0% {
        transform: rotate(0deg);
    }
    14% {
        transform: rotate(5deg);
    }
    28% {
        transform: rotate(-10deg);
    }
    42% {
        transform: rotate(10deg);
    }
    56% {
        transform: rotate(-10deg);
    }
    70% {
        transform: rotate(10deg);
    }
    84% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}